body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

img {
width: 14em;
}

h1, h2 {
    font-family: 'Bree Serif', serif;
    color: #2a9d8f;
}

h1 {
    margin-top: 20px;
    font-size: 2.5em;
}

h2 {
    margin-top: 10px;
    font-size: 1.5em;
}

.container {
    margin: 20px;
    padding: 30px;
    background-color: #fed713;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: inline-block;
    text-align: center;
}

.container p {
    margin: 10px 0;
    color: #264653;
    padding-top: 10px;
    text-align: center;
}

input {
    width: 80%;
    padding: 10px;
    margin: 5px 0;
    border: 2px solid #264653;
    border-radius: 5px;
    box-sizing: border-box;
}

button.submit {
    color: white;
    background-color: #2a9d8f;
    padding: 10px 20px;
    margin: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.submit:hover {
    background-color: #264653;
}

.results {
    margin: 20px;
    padding: 15px;
    background-color: #f4a261;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #264653;
    display: none;
}
